<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Processing</title>
</head>
<body>
    <h1>Image Processing</h1>

    <form id="imageForm" enctype="multipart/form-data">
        <input type="file" id="imageInput" accept=".png, .jpg, .jpeg, .gif" required>
        <button type="button" onclick="processImage()">Process Image</button>
    </form>

    <div id="resultContainer"></div>

    <script>
        function processImage() {
            var inputElement = document.getElementById("imageInput");
            var file = inputElement.files[0];

            if (!file) {
                alert("Please select an image");
                return;
            }

            var formData = new FormData();
            formData.append("file", file);

            fetch("/upload", {
                method: "POST",
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                displayResult(data);
            })
            .catch(err => console.error("Error:"));
        }

        function displayResult(data) {
            console.log(data)
            var resultContainer = document.getElementById("resultContainer");
            resultContainer.innerHTML = "";

            if (data.error) {
                resultContainer.innerHTML = "<p>Error: " + data.error + "</p>";
            } else {
                resultContainer.innerHTML = "<h2>Processed Image: " + data.processed_image + "</h2>";
            }
        }
    </script>
</body>
</html>
